# Virtual environments
venv/
.env

# Python cache
__pycache__/
*.pyc

# Data folders
data/

# Generated outputs
*.png

# OS files
Thumbs.db
.DS_Store

# dbt
ecommerce_dbt/target/
ecommerce_dbt/dbt_packages/
ecommerce_dbt/logs/
ecommerce_dbt/.user.yml